ul {
	list-style: none;
}

li {
}

body {
 border: double;
 border-color: white;
 background-color: #DDBCF2;
 text-align: center;
 color: black;
 margin-right: 20px;
}

h1 {
  font-family: trattatello, fantasy, serif;
  margin-top: 5px;
}

h3 {
  font-family: trattatello, fantasy, serif;
  font-weight: bold;
}

h2 {
 font-family: trattatello, fantasy, serif;
 text-decoration: underline;
}

p {
 font-family: monaco, Palatino, serif;
}

a {
  margin-bottom: 10px;
}
