ul {
	list-style: none;
}

li {
}

body {
 border: double;
 border-color: white;
 background-color: #DDBCF2;
 text-align: center;
 color: black;
}

h1 {
  font-family: "Lucida Sans", monospace;
  margin-top: 5px;
}

h3 {
  font-family: "Lucida Bright", sans-serif;
  font-weight: bold;
}

h2 {
 font-family: "Lucida Bright", Palatino, serif;
 text-decoration: underline;
}

p {
 font-family: monaco, Palatino, serif;
}

a {
  margin-bottom: 10px;
  color: #91dafa;
}
