ul {
  list-style-type: none;
}

.list {
  text-align: center;
}

li {
 padding: 10px; 
 display: inline;
}

body {
 background-color: #ffebcd;
 text-align: center;
}

h1 {
  font-family: "Lucida Sans", sans-serif;
  border: solid;
  border-color: #ff0000;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h3 {
  font-family: papyrus, "Apple Chancery", sans-serif;
  font-weight: bold;
}
