ul {
  list-style-type: none;
}

.list {
  text-align: center;
}

li {
 padding: 10px; 
 display: inline;
}

body {
  border: double;
  border-color: #008B8B;
 background-color: #ffebcd;
 text-align: center;
}

h1 {
  font-family: "Lucida Sans", sans-serif;
  border: solid;
  border-color: #6e3327;
  display: inline;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

h3 {
  font-family: Papyrus, "Apple Chancery", sans-serif;
  font-weight: bold;
}

h2 {
 font-family: "Lucida Bright", Palatino, serif;
  text-decoration: underline;
}

p {
 font-family: "Lucida Bright", Palatino, serif;
  border: dashed;
  border-color: #90EE90;
  border-radius: 5px;
}

a {
  font: italic;
}
