ul {
  list-style-type: none;
}

mark {
  color: white;
  background-color: #781f56;
}

li {
  display: inline;
/*  padding: 10px; */
}

nav {
 text-align: center;
}

body {
  border: double;
  border-color: white;
 background-color: black;
 text-align: center;
 color: white;
}

h1 {
  font-family: "Lucida Sans", monospace;
  border: solid;
  border-color: 6e3327;
  display: inline;
  margin-top: 5px;
}

img {
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  float: left;
}

h3 {
  font-family: "Lucida Bright", sans-serif;
  font-weight: bold;
}

h2 {
 font-family: "Lucida Bright", Palatino, serif;
 text-decoration: underline;
}

h6 {
 font-family: serif;
 text-align: left;
 size: 12px;
}

p {
 font-family: "Lucida Bright", Palatino, serif;
/*  border: dashed;
  border-color: #90EE90;
  border-radius: 5px; */
  display: block;
}

a {
  margin-bottom: 10px;
  color: #91dafa;
}
